@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    /* fonts */
    --font1: 'Open Sans', sans-serif;
    --font2: 'Poppins', sans-serif;
    /* colors */
    --mainbg: hsl(257, 40%, 49%);
    --active: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}